body{
    background-color: black;
    text-decoration-color: white;
}

.box{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    border: 10px;
    border-radius: 5px;
}
button{
    size: 50px;
}